*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Century Gothic;
}

html,body{
    width: 100%;
    height: 100%;
}

#main{
    height: 100%;
    width: 100%;
    background-color: gray;
}

#nav{
    height: 100px;
    width: 99%;
    display: flex;
    align-items:center;
    justify-content:flex-end;
    gap: 25px;
    font-size: medium;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 350;
    padding: 0 35px;
}

#nav h4{
    
    /* font-family: 'Courier New', Courier, monospace;*/
    font-weight: 550;
    font-size: 20px;
    font-family: monospace;
}

#nav i{
    background-color: black;
    color: white;
    font-size: 20px;
    padding: 10px;
    border-radius: 50%;
}

#center{
    width: 100%;
    padding: 40px, 90px;
    /*background-color: yellow;*/
}

#center h1{
    font-size: 90px;
    font-weight: 500;
    padding: 0 px ,50px;
    line-height: 85px;
    background-color: yellow;
}

#center-in{
/*    background-color: red;*/
    padding: 40px 60px;
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
 
}

#center-in p{
    font-size: 25px;
    font-weight: 550 ; 
    /*background-color: yellow;*/
    font-family: monospace;
}

#right{
    width: 20%;
}

.elem{
    margin: 5px;
    padding: 20px 0px;
    border-top: 3px solid black;
    display: flex;
    align-self: center;
    justify-content: space-between;
}

.elem i{
    font-size: 29px;
    font-weight: 500;
    opacity: 0;
}

.elem:hover i{
    background-color:yellow;
    opacity: 1;
}

.elem a{
    color: black;
    text-decoration: none;
    font-weight: 590;
    font-size: 20px;
}

#bottom{
    height: 95%;
    width: 100%;
/*    background-color: turquoise;*/
    background-image: url(https://media.istockphoto.com/id/1023612090/photo/interior-of-clothing-store.jpg?s=1024x1024&w=is&k=20&c=RaXRkwiJ84bps0NtgnuoWun0_Y1eI4Q3lTmIe4mc_c0=);
    background-size: cover;
background-position: top;

}
